<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Admin So Sushi</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/admin/produits">Produits</a></li>
      <li><a href="/admin/magasins">Magasins</a></li>
    </ul>
  </nav>

